<div class="layout layout--row portrait:flex--col gap--small">
    <div class="metric flex flex--col flex--center-x flex--center-y gap--xsmall p--2 text--center h--full w--full">
        <span class="label 1bit:text--black">Today</span>
        <span class="value value--small">{{ IDX_1.response.bandwidthLastTwoDays.current }}</span>
    </div>

    <div class="metric flex flex--col flex--center-x flex--center-y gap--xsmall p--2 text--center h--full w--full">
        <span class="label 1bit:text--black">7 Days</span>
        <span class="value value--small">{{ IDX_1.response.bandwidthLastSevenDays.current }}</span>
    </div>

    <div class="metric flex flex--col flex--center-x flex--center-y gap--xsmall p--2 text--center h--full w--full">
        <span class="label 1bit:text--black">Nodes</span>
        <span class="value value--small">{{ active_nodes }} / {{ IDX_2.response.size }}</span>
    </div>

    <div class="metric flex flex--col flex--center-x flex--center-y gap--xsmall p--2 text--center h--full w--full">
        <span class="label 1bit:text--black">Online</span>
        <span class="value value--small">{{ IDX_0.response.onlineStats.onlineNow }}</span>
    </div>
</div>
